

.navbar {
    background-color: #3498db;
    padding: 10px 0;
  }
  
  .nav-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #2980b9;
    }
  }

  