/* App.css */

/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Component Styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
 
}

/* Sidebar Component Styles */
aside {
  background-color: #eee;
  padding: 10px;
}

/* Main Content Area Styles */
main {
  margin: 20px;
}

/* Page-specific Styles */
h1 {
  color: #333;
}

/* StudentList Component Styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
}

/* StudentForm Component Styles */
form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-top: 20px;
}

label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* CourseList Component Styles */
h2 {
  color: #555;
}

/* CourseForm Component Styles */
/* Add specific styles for CourseForm as needed */

